/*         variables         */
$TextWhite: #ffffff;
$ProcentGrey: #ededed;
$boldGrey: #505050;
$ForRed: #ff0036;
$MenuCloseBtn:#1cb5e0;


$animateTime: 5s;
$animateStyle: linear;
$animateRepeat: infinite;

/*         variables         */
