/*         variables         */
$TextWhite: #ffffff;
$ProcentGrey: #ededed;
$boldGrey: #505050;
$ForRed: #ff0036;
$MenuCloseBtn:#1cb5e0;


$animateTime: 5s;
$animateStyle: linear;
$animateRepeat: infinite;

/*         variables         */

/*    Media     */ 
$screen-smal-sm: 575px;

$screen-sm: 576px;
$screen-sm-max: 767px;

$screen-md: 768px;
$screen-md-max: 991px;

$screen-lg: 992px;
$screen-lg-max: 1199px;

$screen-xl: 1200px;
$screen-xl-max: 1399px;

$screen-gig: 1400px;

/*    Media     */ 